
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h2>Projelerimiz</h2>
<div class="container">
    <table class="table-bordered">
        <tr>
            <th>Mesaj No</th>
            <th>Gönderen</th>
            <th>Konu</th>
            <th>Mesajı Aç</th>
        </tr>
        <tr>
            <td>1</td>
            <td>Abdul Samet Kayık</td>
            <td>Tebrikler</td>
            <td><a href="#" class="btn btn-warning">Mesajı Aç!</a></td>
        </tr>
        <tr>
            <td>2</td>
            <td>Beyza Çoskun</td>
            <td>Şikayet</td>
            <td><a href="#" class="btn btn-warning">Mesajı Aç!</a></td>
        </tr>
    </table>
</div>
